h2 {
    color: cornflowerblue;
    font-family: 'Lobster';
}

body {
    padding-left: 15px;
    padding-right: 15px;
}

.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}
